.loading_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #FEBB6C;
    height: 100dvh;
    top: 0;
    left: 0;
    bottom: 250px;
    right: 0;
}

.content_wrap {
    position: relative;
    width: 1000px;
    height: 500px;  
}

.box {
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url("https://opgg-static.akamaized.net/logo/20220203062018.c85a607b9bed4d6b968f703b5616d54b.png?image=q_auto,f_webp,w_1176&v=1684072072534");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -20px;
  }

.road {
    width: 1000px;
    bottom: 0;
    position: absolute;
    margin-top: 70px;
    z-index: -1;
}

.left_cannon {
    background-image: url("https://opgg-static.akamaized.net/images/logo_thumbs/l096_big.png?image=q_auto,f_webp,w_1176&v=1684072072534");
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: -200px;
    left: -80px;
    background-size: contain;
    background-repeat: no-repeat;
}